:root {
	--nav-bar-background-color: #1CA6CA;
	--nav-bar-hover: #494343;

}

#NavBar ul li a, 
#NavBar ul li a:after
#NavBar ul li a:before{
	transition:all 2s ease-out;
}

/*I ADDED THIS TRANSITION because above didnt work*/
#NavBar ul li a:hover {
  color: var(--nav-bar-hover);
  font-weight: 800;
  transition:all 1s ease-out;
  
}

/*I ADDED THIS*/
ul li :hover {
	background-color: white;
}

#NavBar.stroke ul li a{
  position: relative;
}

#NavBar.stroke ul li a:after{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: var(--nav-bar-hover);
  height: 2px;
}

#NavBar.stroke ul li a:hover:after {
  width: 100%;
}

#NavBar {
	width: 100%;
}

#MyNavList > li{
	display:inline-block;
	width:13%;
}

#MyNavList {
	padding: 13px;
	text-align: center;
}

#MyNavList > li > a {
	width:16.66666666666%;
}

.NavLinks{
	color:white;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 19px;
}

#bottomBar{
	background-color: var(--nav-bar-background-color);
}

#banner {

}

#topBar {
	height: 250px;
	background-image: url(../images/DLBanner.png);
	background-size: cover;
	border: 1px solid black;
}

#mainToolbar {
	height:200px;
}

#topBar {
	height:145px;
}

#bottomBar {
	height: 55px;
}

@media (max-width: 600px) {
	#mainToolbar {
		height:55px;
	}

	#topBar {
		display: none;
		height:0px;
	}

	#bottomBar {
		height: 55px;
	}
}