:root {
	--nav-bar-background-color: #1CA6CA;
	--nav-bar-hover: #494343;

}

/*I ADDED THIS TRANSITION because above didnt work*/
#NavBar ul li a:hover {
  color: var(--nav-bar-hover);
  transition:all 1s ease-out; 
}

/*I ADDED THIS*/
ul li a:hover {
	background-color: white;
}

#NavBar ul li a{
  display:block;
  padding-top: 15px;
  position: relative;
}

#NavBar ul li a:after{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: var(--nav-bar-hover);
  height: 2px;
}

#NavBar.stroke ul li a:hover:after {
  width: 100%;
}

#NavBar {
	height:100%;
	width: 100%;
}

#MyNavList > li{
	display:inline-block;
	width:200px;
	height: 100%;
}

#MyNavList {
	padding: 13px;
	text-align: center;
	margin:0px;
	padding: 0px;
	height:100%;
}

.NavLinks{
	color:white;
	font-family: 'Futura', sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 25px;
}

#topBar {
	height: 75%;
	background-image: url(../images/DLBanner.png);
	background-size: 100%  100%;
	border: 1px solid black;
}

#mainToolbar {
	height:200px;
}

#bottomBar {
	height: 25%;
	background-color: var(--nav-bar-background-color);
}

@media (max-width: 600px) {
	#mainToolbar {
		height:55px;
	}

	#topBar {
		display: none;
		height:0px;
	}

	#bottomBar {
		height: 55px;
	}
}